{% extends 'base.html.twig' %}


{% block body %}
<center></br></br>

  <h2>Formulaire d'ajout d'une entreprise</h2>
</br></br></br>
</center>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
{{ form_start(vueFormulaire)}}
{{ form_row(vueFormulaire.nom, {'attr':{'placeholder': "Nom de l'entreprise..."}})}}
{{ form_row(vueFormulaire.activite, {'attr':{'placeholder':"Activite de l'entreprise..."}})}}
{{ form_row(vueFormulaire.adresse, {'attr':{'placeholder':"Adresse de l'entreprise..."}})}}
{{ form_row(vueFormulaire.siteWeb, {'attr':{'placeholder':"Url de l'entreprise..."}})}}
<button type="submit" class="btn btn-dark">Enregistrer</button>
{{ form_end(vueFormulaire) }}
</div>
</div>
</div>
<br><br><br>
{% endblock %}
