{% extends 'base.html.twig' %}

{% block body %}

<center>
  </br>
  <h1>{{stage.titre}}</h1>
</center>

</br></br></br>




    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11">

<ul class = "list-group">
    <li class = "list-group-item"> <strong>Nom de l'entreprise : </strong>
        {{stage.entreprise.getNom}}
    </li>

    <li class = "list-group-item"> <strong>Description : </strong>
        {{stage.description}}
    </li>

    <li class = "list-group-item"> <strong>Email : </strong>
        {{stage.email}}
    </li>

    <li class = "list-group-item"> <strong>Formations concernées : </strong>
        {% for formationCourante in stage.formations %}
            {{formationCourante.nomCourt}}
            -
            {{formationCourante.nomLong}} </br>
        {% endfor %}
    </li>
</ul>
            </div>

        </div>
    </div>
{% endblock %}
