<!DOCTYPE html>
<html>
<head>
	<meta charset="UFT-8">
	{% block title %}{% endblock %}
	{% block stylesheets %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	{% endblock %}

</head>
<body>
	{% block slider %}
	<div class="row">
		<div class="col-md-12" style="background-color: #B0413E">
			<h1 style="color:white ;font-family:'Geneva'; font-size: 120px; text-align: center;">
				ProStages
			</h1></br></br></br>

		</div>
	</div>
	{% endblock %}
	<!--Barre de navigation-->
	{% block menu %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">

				              <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
				                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
				                  aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				                  <span class="navbar-toggler-icon"></span>
				                </button>
				                <div class="collapse navbar-collapse" id="navbarText">
				                  <ul class="navbar-nav mr-auto">

				                    <li class="nav-item active">
				                      <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
				                    </li>

				                    <li class="nav-item active">
				                      <a class="nav-link" href="/entreprises">Entreprises </a>
				                    </li>

				                    <li class="nav-item active">
				                      <a class="nav-link" href="/formations">Formations</a>
				                    </li>

														{% if is_granted('ROLE_USER') %}

				                    <li class="nav-item active">
				                      <a class="nav-link" href="{{path('proStages_ajoutEntreprise')}}"><i class="icon-plus"></i>Ajouter une
				                        entreprise </a>
				                    </li>

													{% endif %}

													{% if is_granted('ROLE_USER') %}

				                    <li class="nav-item active">
				                      <a class="nav-link" href="{{path('proStages_ajoutStage')}}"><i class="icon-plus"></i>Ajouter un stage </a>
				                    </li>
												{% endif %}


				                  </ul>
				                  <ul class="navbar-nav ml-md-auto">
				                    {% if is_granted('ROLE_USER') %}
				                    <li class="nav-item active">
				                      <a class="nav-link" href="{{path('app_logout')}}">
				                        {{ app.user.prenom }} {{ app.user.nom }}
				                        <!--<i class="icon-user"></i>-->
				                        Déconnexion
				                        <span class="sr-only">(current)</span></a>
				                    </li>

				                    {% else %}
														<li class="nav-item active">
						 <a class="nav-link" href="{{path('app_inscription')}}">
							 Inscription
							 <span class="sr-only">(current)</span></a>
					 </li>


				                    <li class="nav-item active">
				                      <a class="nav-link" href="{{path('app_login')}}">
				                        <!--<i class="icon-user"></i>-->
				                        Connexion
				                        <span class="sr-only">(current)</span></a>
				                    </li>

				                    {% endif %}
				                  </ul>

				                </div>
				              </nav>
			</div>
		</div>
	</div>
	{% endblock %}

	{% block body %}




	{% endblock %}
	{% block footer %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<p>Site réalisé par Benjamin DELSOL grâce à Symfony ainsi que la librairie Bootstrap </p>
			</div>
		</div>
	</div>
	{% endblock %}
	{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	{% endblock %}
</body>
</html>
